body {
    font-family: 'Helvetica', sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #394648;
}

.wrap {
    width: 400px;
    padding-top: 100px;
    background-color: #ffffff;
}