<!DOCTYPE html>

<header>
    <div class="header-wrap">
        <button type="button" id="back-button" class="header-icon-button">
            <img src="/assets/left-arrow.png" alt="뒤로가기">
        </button>
        <div class="logo">아무 말 대잔치</div>
        <div class="profile-container">
            <button type="button" id="profile-button" class="header-icon-button">
                <img src="/assets/profile-default.png" alt="프로필">
            </button>
            <div class="header-dropdown-menu">
                <a href="/public/pages/change_profile/change_profile.html">회원정보 수정</a>
                <a href="/public/pages/change_password/change_password.html">비밀번호 수정</a>
                <a href="#" id="logout-button">로그아웃</a>
            </div>
        </div>
    </div>
</header>