<!DOCTYPE html>
<link href="/public/components/header/header.css" rel="stylesheet">

<header>
    <div class="header-wrap">
        <button type="button" id="back-button" class="header-icon-button">
            <img src="/assets/left-arrow.png" alt="뒤로가기">
        </button>
        <div class="logo">아무 말 대잔치</div>
        <button type="button" id="profile-button" class="header-icon-button">
            <img src="/assets/profile-default.png" alt="프로필">
        </button>
    </div>
</header>

<script src="/public/components/header/header.js" defer></script>