* {
    box-sizing: border-box;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
}

.header-wrap {
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
    
.logo {
    color: #394648;
    font-size: 24px;
    font-weight: 700;
}

.header-icon-button {
    /* 버튼 기본 스타일 제거 */
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%; /* 원형 버튼 */
    transition: background-color 0.2s;
}

/* 버튼에 마우스를 올렸을 때 강조 */
.header-icon-button:hover {
    background-color: #F8E9E9;
}

/* 버튼 이미지 맞춤 */
.header-icon-button img {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #CBAC88;
}